@use './mixin.scss' as mixin;

section.contact {
    padding: 7.7rem 1rem 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include mixin.lg-screen {
        padding-top: 8.5rem;
        gap: 1.5rem;
    }

    .contact-title {
        font-size: 2.7rem;
        line-height: .95;
        letter-spacing: -2.5px;
        color: var(--primary);
        font-family: var(--font-inter-display);
        font-weight: 500;
        text-align: center;
        width: 320px;
        
        @include mixin.lg-screen {
            font-size: 3.5rem;
            width: 440px;
        }

        @include mixin.custom-screen(1200) {
            letter-spacing: -3.1;
            font-size: 4.25rem;
        }
    }

    .contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
        flex-direction: column;

        @include mixin.lg-screen {
            flex-direction: row;
        }

        .contact-email {
            padding: 8px 12px;
            background-color: var(--gray-bg);
            color: var(--gray-text);
            display: inline-block;
            border-radius: 5px;
            text-decoration: none;
            font-family: var(--font-inter);
            font-weight: 500;
            font-size: 1.125rem;

            @include mixin.lg-screen {
                font-size: 1.25rem;
            }
        }
        
        .contact-linkedin {
            font-size: 1.125rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            a {
                padding: 8px;
                background-color: var(--gray-bg);
                color: var(--gray-text);
                display: inline-block;
                border-radius: 5px;
                line-height: .5;
            }
        }
    }

    .quote-container {
        background-color: #000;
        color: #fff;
        padding: 24px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 540px;

        @include mixin.lg-screen {
            margin-top: 2.5rem;
        }

        .quote-text {
            font-size: 1.14rem;
            font-family: var(--font-inter-display);
            line-height: 1.45;
            font-weight: 400;
        }

        .quote-author {
            display: flex;
            align-items: center;
            gap: 1rem;

            .author-img {
                border-radius: 12px;
                object-fit: cover;
            }

            .author-info {
                display: flex;
                flex-direction: column;
                gap: 7px;
                font-family: var(--font-inter);
                font-size: 1rem;
                
                .author-name {
                    font-weight: 500;
                    background-color: var(--gray-bg-dark);
                    padding: 7px 8px;
                    border-radius: 4px;
                    width: fit-content;
                }

                .author-title {
                    color: var(--gray-text-light);
                    margin-top: 2px;
                }
            }
        }
    }
}
