@use './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/fonts/InterDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --gray-bg: rgb(242, 242, 242);
    --gray-text: rgb(105, 105, 105);
    --gray-light: rgb(136, 136, 136);
    --black-bg: rgb(15, 15, 15);
    --gray-bg-dark: rgb(28, 28, 28);
    --gray-text-light: rgb(214, 214, 214);
    --image-bg: rgb(240, 240, 240);

    --font-cactus: 'Cactus Classical Serif', serif;
    --font-inter: "Inter", sans-serif;
    --font-inter-display: 'Inter Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter), sans-serif;
}

html {
    scroll-behavior: auto !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

ul, li {
    list-style: none;
}

hr {
    background-color: rgba(0, 0, 0, 0.08);
    height: 1px;
    font-size: 0;
    border: 0;
    margin: 0 16px;

    @include mixin.lg-screen{
        margin: 0 1.5rem;
    }

    @include mixin.custom-screen(1570) {
        max-width: 1560px;
        margin: 0 auto;
    }
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.ios-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-bg);
    color: var(--gray-bg);
    border: none;
    padding: 12px 18px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
    width: fit-content;
    gap: .5rem;

    &:hover {
        opacity: 0.8;
        transform: scale(1.04);
    }
}

.loading-text {
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 5;

    @include mixin.md-screen {
        font-size: 170px;
    }
}

.quote-container {
    color: #fff;
    padding: 1.5rem;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 600px;
    position: relative;

    .quote-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(15, 15, 15, 0.5);

        img {
            z-index: -1;
        }
    }

    .quote-text {
        position: relative;
        z-index: 1;
        font-size: 1.14rem;
        font-family: var(--font-inter-display);
        line-height: 1.45;
        font-weight: 400;
    }

    .quote-author {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 1rem;

        .author-img {
            border-radius: 12px;
            object-fit: cover;
        }

        .author-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: var(--font-inter);
            font-size: 1rem;
            
            .author-name {
                font-weight: 500;
            }

            .author-title {
                color: var(--gray-text-light);
                margin-top: 2px;
                font-style: italic;
            }
        }
    }
}

// Transition animation
::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 1000;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1000;
    animation: none !important;
}