@use './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

:root {
    --gray-bg: rgb(242, 242, 242);
    --gray-text: rgb(105, 105, 105);
    --gray-light: rgb(136, 136, 136);
    --font-cactus: 'Cactus Classical Serif', serif;
    --font-inter: "Inter", sans-serif;
    --black-bg: rgb(15, 15, 15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter), sans-serif;
}

ul, li {
    list-style: none;
}

.loading-text {
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 5;

    @include mixin.md-screen {
        font-size: 170px;
    }
}

// Transition animation

::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 1000;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1000;
    animation: none !important;
}