@mixin md-screen {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin lg-screen {
    @media screen and (min-width: 1023px) {
        @content;
    }
}

@mixin custom-screen($width) {
    @media screen and (min-width: #{$width}px) {
        @content;
    }
}

@mixin border-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

