@use './mixin.scss' as mixin;

.hero-section {
    padding: 8rem 1rem 0 1rem;

    @include mixin.lg-screen {
        padding: 10rem 24px 0 24px;
    }
    
    @include mixin.custom-screen(1200) {
        padding: 8rem 2rem 0 24px;
        margin: 0 auto;
        max-width: 1600px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-bottom: 56px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin: 0 auto;

        @include mixin.custom-screen(1200) {
            flex-direction: row;
            padding-bottom: 140px;
            justify-content: space-between;
            gap: 0px;
        }
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hero-title {
        font-size: 2.7rem;
        line-height: .95;
        letter-spacing: -2;
        color: var(--primary);
        font-family: var(--font-inter-display);
        font-weight: 500;
        
        @include mixin.md-screen {
            font-size: 2.8rem;
            width: 662px;
        }

        @include mixin.lg-screen {
            font-size: 3.5rem;
        }

        @include mixin.custom-screen(1200) {
            letter-spacing: -3.1;
            font-size: 4.25rem;
            width: 720px;
        }

        .gray-text {
            // font-weight: 600;

            @include mixin.lg-screen {
                color: var(--gray-text);
            }
        }

        .hero-images {
            display: inline-flex;
            align-items: center;
            margin: 0 0.5rem;
            vertical-align: middle;
            height: 45px;
            
            .hero-img-wrapper {
                position: relative;
                display: inline-block;
                transition: transform 0.3s ease;
                font-family: var(--font-inter);
                letter-spacing: 0;
                
                &:first-child {
                    transform: rotate(4deg);
                }
                
                &:last-child {
                    transform: rotate(-4deg);
                    margin-left: -10px;
                    z-index: 3;
                }
                
                &:hover {
                    transform: rotate(0);

                    .hero-img {
                        transform: scale(1.1);
                    }

                    .tooltip {
                        opacity: 1;
                        transform: translate(-50%, -10px) scale(1);
                    }
                }

                .hero-img {
                    border-radius: 12px;
                    object-fit: cover;
                    border: 2px solid white;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
                    filter: grayscale(100%);
                    transition: transform 0.3s ease;
                    display: block;
                    cursor: pointer;

                    @include mixin.md-screen {
                        width: 50px;
                        height: 50px;
                    }

                    @include mixin.lg-screen {
                        width: 60px;
                        height: 60px;
                    }
                }

                .tooltip {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, -10px) scale(.6);
                    background: black;
                    color: white;
                    padding: 6px 10px;
                    border-radius: 6px;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.1s ease;
                    font-family: var(--font-roboto), sans-serif;
                    font-weight: normal;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    
                    .gray {
                        color: var(--gray-light);
                        margin-left: 4px;
                    }

                    .line {
                        display: block;
                        width: 20px;
                        height: 2px;
                        background: var(--gray-light);
                        margin: 0 6px;
                    }
                }
            }
        }
    }

    .hero-footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include mixin.md-screen {
            width: 368px;
        }

        .hero-description {
            font-size: 1rem;
            color: var(--gray-text);
            line-height: 1.5;
        }
    }
}

.projects-section {
    padding: 4rem 1rem;
    
    @include mixin.custom-screen(1200) {
        padding: 4rem 2rem;
        max-width: 1600px;
        margin: 0 auto;
    }

    .projects-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;

        span:first-child {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: var(--font-inter-display);
            letter-spacing: -0.5;
        }

        span:nth-child(2) {
            font-size: 1.125rem;
            color: var(--gray-text);
        }
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include mixin.custom-screen(800) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixin.custom-screen(1560) {
            grid-template-columns: repeat(3, 1fr);
        }

        .project-hover-btn {
            background-color: rgba(15, 15, 15, .8); 
            border-radius: 12px;
        }
    }

    .project-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .project-image-placeholder {
            width: 100%;
            aspect-ratio: 4/3.49;
            background-color: var(--gray-text);
            border-radius: 8px;
            position: relative;
            // overflow: hidden;

            &:hover {
                cursor: pointer;
            }
        }

        .project-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;

            .project-name {
                font-weight: 500;
            }

            .project-meta {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
                color: var(--gray-text);
                gap: 0.2rem;
            }
        }
    }
}

.about-section {
    padding: 4rem 1rem;
    
    @include mixin.lg-screen {
        padding: 6rem 24px;
    }

    @include mixin.custom-screen(1200) {
        padding: 8rem 2rem 8rem 24px;
        margin: 0 auto;
        max-width: 1600px;
    }

    .about-header {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-family: var(--font-inter);
        
        .gray-text {
            color: var(--gray-text);
        }
    }

    .about-description {
        font-size: 2rem;
        line-height: 1.1;
        font-family: var(--font-inter-display);
        font-weight: 500;
        margin-bottom: 4rem;
        max-width: 1100px;

        @include mixin.md-screen {
            font-size: 3rem;
        }
        
        @include mixin.lg-screen {
            font-size: 3.5rem;
        }

        .gray-text {
            color: var(--gray-text);
        }
    }

    .quote-container {
        background-color: #000;
        color: #fff;
        padding: 3rem 2rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include mixin.md-screen {
            padding: 4rem;
        }

        .quote-text {
            font-size: 1.5rem;
            font-family: var(--font-inter-display);
            line-height: 1.3;
            font-weight: 400;
            
            @include mixin.md-screen {
                font-size: 2.5rem;
                max-width: 80%;
            }
        }

        .quote-author {
            display: flex;
            align-items: center;
            gap: 1rem;

            .author-img {
                border-radius: 50%;
                object-fit: cover;
            }

            .author-info {
                display: flex;
                flex-direction: column;
                font-family: var(--font-inter);
                
                .author-name {
                    font-weight: 500;
                    font-size: 1rem;
                }

                .author-title {
                    font-size: 0.875rem;
                    color: rgba(255, 255, 255, 0.6);
                    margin-top: 2px;
                }
            }
        }
    }
}