@use './mixin.scss' as mixin;

.hero-section {
    padding: 4.5rem 1rem;

    @include mixin.lg-screen {
        padding: 5rem 24px;
    }
    
    @include mixin.custom-screen(1200) {
        padding: 4.5rem 2rem;
        margin: 0 auto;
        max-width: 1600px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-bottom: 56px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin: 0 auto;

        @include mixin.custom-screen(1200) {
            flex-direction: row;
            padding-bottom: 140px;
            justify-content: space-between;
            gap: 0px;
        }
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hero-title {
        font-size: 2.7rem;
        line-height: .9;
        letter-spacing: 0;
        font-weight: 500;
        color: var(--primary);
        
        @include mixin.md-screen {
            font-size: 2.8rem;
            width: 662px;
        }

        @include mixin.lg-screen {
            font-size: 3.5rem;
            font-weight: bold;
        }

        @include mixin.custom-screen(1200) {
            font-size: 4rem;
            width: 720px;
        }

        .gray-text {
            @include mixin.lg-screen {
                color: #888;
            }
        }

        .hero-images {
            display: inline-flex;
            align-items: center;
            margin: 0 0.5rem;
            vertical-align: middle;
            height: 45px;
            
            .hero-img-wrapper {
                position: relative;
                display: inline-block;
                transition: transform 0.3s ease;
                
                &:first-child {
                    transform: rotate(4deg);
                }
                
                &:last-child {
                    transform: rotate(-4deg);
                    margin-left: -10px;
                    z-index: 3;
                }
                
                &:hover {
                    transform: rotate(0);

                    .hero-img {
                        transform: scale(1.1);
                    }

                    .tooltip {
                        opacity: 1;
                        transform: translate(-50%, -10px) scale(1);
                    }
                }

                .hero-img {
                    border-radius: 12px;
                    object-fit: cover;
                    border: 2px solid white;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
                    filter: grayscale(100%);
                    transition: transform 0.3s ease;
                    display: block;
                    cursor: pointer;

                    @include mixin.md-screen {
                        width: 50px;
                        height: 50px;
                    }

                    @include mixin.lg-screen {
                        width: 60px;
                        height: 60px;
                    }
                }

                .tooltip {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, -10px) scale(.6);
                    background: black;
                    color: white;
                    padding: 6px 10px;
                    border-radius: 6px;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.1s ease;
                    font-family: var(--font-roboto), sans-serif;
                    font-weight: normal;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    
                    .gray {
                        color: var(--gray-light);
                        margin-left: 4px;
                    }

                    .line {
                        display: block;
                        width: 20px;
                        height: 2px;
                        background: var(--gray-light);
                        margin: 0 6px;
                    }
                }
            }
        }
    }

    .ios-button {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--black-bg);
        color: var(--gray-bg);
        border: none;
        padding: 12px 18px;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s ease;
        width: fit-content;
        gap: .5rem;

        &:hover {
            transform: scale(1.02);
        }
    }

    .hero-footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include mixin.md-screen {
            width: 368px;
        }

        .hero-description {
            font-size: 1rem;
            color: var(--gray-text);
            line-height: 1.5;
        }
    }
}