@use './mixin.scss' as mixin;

.hero-section {
    padding: 8rem 1rem 0 1rem;

    @include mixin.lg-screen {
        padding: 10rem 24px 0 24px;
    }
    
    @include mixin.custom-screen(1200) {
        padding: 8rem 2rem 0 24px;
        margin: 0 auto;
        max-width: 1600px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-bottom: 56px;
        @include mixin.border-light;
        margin: 0 auto;

        @include mixin.custom-screen(1200) {
            flex-direction: row;
            padding-bottom: 140px;
            justify-content: space-between;
            gap: 0px;
        }
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hero-title {
        font-size: 2.7rem;
        line-height: .95;
        letter-spacing: -2;
        color: var(--primary);
        font-family: var(--font-inter-display);
        font-weight: 500;
        
        @include mixin.md-screen {
            font-size: 2.8rem;
            width: 662px;
        }

        @include mixin.lg-screen {
            font-size: 3.5rem;
        }

        @include mixin.custom-screen(1200) {
            letter-spacing: -3.1;
            font-size: 4.25rem;
            width: 720px;
        }

        .gray-text {
            // font-weight: 600;

            @include mixin.lg-screen {
                color: var(--gray-text);
            }
        }

        .hero-images {
            display: inline-flex;
            align-items: center;
            margin: 0 0.5rem;
            vertical-align: middle;
            height: 45px;
            
            .hero-img-wrapper {
                position: relative;
                display: inline-block;
                transition: transform 0.3s ease;
                font-family: var(--font-inter);
                letter-spacing: 0;
                
                &:first-child {
                    transform: rotate(4deg);
                }
                
                &:last-child {
                    transform: rotate(-4deg);
                    margin-left: -10px;
                    z-index: 3;
                }
                
                &:hover {
                    transform: rotate(0);

                    .hero-img {
                        transform: scale(1.1);
                    }

                    .tooltip {
                        opacity: 1;
                        transform: translate(-50%, -10px) scale(1);
                    }
                }

                .hero-img {
                    border-radius: 12px;
                    object-fit: cover;
                    border: 2px solid white;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
                    filter: grayscale(100%);
                    transition: transform 0.3s ease;
                    display: block;
                    cursor: pointer;

                    @include mixin.md-screen {
                        width: 50px;
                        height: 50px;
                    }

                    @include mixin.lg-screen {
                        width: 60px;
                        height: 60px;
                    }
                }

                .tooltip {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, -10px) scale(.6);
                    background: black;
                    color: white;
                    padding: 6px 10px;
                    border-radius: 6px;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.1s ease;
                    font-family: var(--font-roboto), sans-serif;
                    font-weight: normal;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    
                    .gray {
                        color: var(--gray-light);
                        margin-left: 4px;
                    }

                    .line {
                        display: block;
                        width: 20px;
                        height: 2px;
                        background: var(--gray-light);
                        margin: 0 6px;
                    }
                }
            }
        }
    }

    .hero-footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include mixin.md-screen {
            width: 368px;
        }

        .hero-description {
            font-size: 1rem;
            color: var(--gray-text);
            line-height: 1.5;
        }
    }
}

.projects-section {
    padding: 4rem 1rem;
    
    @include mixin.custom-screen(1200) {
        padding: 4rem 24px;
        max-width: 1600px;
        margin: 0 auto;
    }

    .projects-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;

        span:first-child {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: var(--font-inter-display);
            letter-spacing: -0.5;
        }

        span:nth-child(2) {
            font-size: 1.125rem;
            color: var(--gray-text);
        }
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-bottom: 6rem;
        @include mixin.border-light;

        @include mixin.custom-screen(800) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixin.custom-screen(1560) {
            grid-template-columns: repeat(3, 1fr);
        }

        .project-hover-btn {
            background-color: rgba(15, 15, 15, .8); 
            border-radius: 12px;
        }
    }

    .project-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .project-image-placeholder {
            width: 100%;
            aspect-ratio: 4/3.49;
            background-color: var(--gray-text);
            border-radius: 8px;
            position: relative;
            // overflow: hidden;

            &:hover {
                cursor: pointer;
            }
        }

        .project-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;

            .project-name {
                font-weight: 500;
            }

            .project-meta {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
                color: var(--gray-text);
                gap: 0.2rem;
            }
        }
    }
}

.about-section {
    padding: 0 1rem 4rem 1rem;
    max-width: 1600px;
    margin: 0 auto;
    @include mixin.border-light;

    @include mixin.custom-screen(1200) {
        padding: 0 2rem 8rem 24px;
        display: flex;
        justify-content: space-between;
    }

    .about-header {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 2rem;
        font-family: var(--font-inter);
        
        .gray-text {
            color: var(--gray-text);
        }
    }

    .about-description {
        font-size: 2.25rem;
        line-height: 1.1;
        font-family: var(--font-inter-display);
        font-weight: 500;
        margin-bottom: 4rem;
        letter-spacing: -1.5px;
        max-width: 720px;

        @include mixin.lg-screen {
            font-size: 2.8rem;
            line-height: 1;
        }

        @include mixin.custom-screen(1200) {
            font-size: 2.5rem;
        }

        .gray-text {
            color: var(--gray-text);
        }
    }

    .quote-container {
        background-color: #000;
        color: #fff;
        padding: 24px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 540px;

        .quote-text {
            font-size: 1.14rem;
            font-family: var(--font-inter-display);
            line-height: 1.45;
            font-weight: 400;
        }

        .quote-author {
            display: flex;
            align-items: center;
            gap: 1rem;

            .author-img {
                border-radius: 12px;
                object-fit: cover;
            }

            .author-info {
                display: flex;
                flex-direction: column;
                gap: 7px;
                font-family: var(--font-inter);
                font-size: 1rem;
                
                .author-name {
                    font-weight: 500;
                    background-color: var(--gray-bg-dark);
                    padding: 7px 8px;
                    border-radius: 4px;
                    width: fit-content;
                }

                .author-title {
                    color: var(--gray-text-light);
                    margin-top: 2px;
                }
            }
        }
    }
}

.services-section {
    padding: 4rem 1rem;
    
    @include mixin.lg-screen {
        padding: 4rem 24px;
    }

    @include mixin.custom-screen(1200) {
        padding: 4rem 2rem 4rem 24px;
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .services-header {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 2rem;
        font-family: var(--font-inter);
        flex-shrink: 0;
        
        .gray-text {
            color: var(--gray-text);
        }

        @include mixin.custom-screen(1200) {
            width: 200px;
            margin-bottom: 0;
        }
    }

    .services-info {
        display: flex;
        flex-direction: column;
    }

    .services-description {
        font-size: 2.25rem;
        line-height: 1.1;
        font-family: var(--font-inter-display);
        font-weight: 500;
        margin-bottom: 2rem;
        letter-spacing: -1.5px;
        max-width: 720px;

        @include mixin.lg-screen {
            font-size: 2.8rem;
            line-height: 1;
        }

        @include mixin.custom-screen(1200) {
            font-size: 2.5rem;
            margin-bottom: 4rem;
        }

        .gray-text {
            color: var(--gray-text);
        }
    }

    .services-list {
        display: flex;
        flex-direction: column;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 0;
        @include mixin.border-light;

        &:last-child {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        @include mixin.md-screen {
            flex-direction: row;
            justify-content: space-between;
        }

        .service-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include mixin.custom-screen(1024) {
                flex-direction: row;
                align-items: center;
                height: fit-content;
            }

            .service-icon {
                .icon-box {
                    width: 40px;
                    height: 40px;
                    background-color: #f0f0f0;
                    border-radius: 8px;
                }
            }

            .service-title {
                font-size: 1.14rem;
                font-weight: 500;
                font-family: var(--font-inter-display);
            }
        }

        .service-right {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: var(--gray-text);
            font-size: 1rem;
            
            @include mixin.md-screen {
                text-align: right;
                align-items: flex-end;
            }
        }
    }
}

.skills-section {
    padding: 4rem 1rem 10rem 1rem;
    
    @include mixin.lg-screen {
        padding: 6rem 24px 10rem 24px;
    }

    @include mixin.custom-screen(1200) {
        padding: 2rem 24px 10rem 24px;
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .skills-header {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 2rem;
        font-family: var(--font-inter);
        flex-shrink: 0;
        
        .gray-text {
            color: var(--gray-text);
        }

        @include mixin.custom-screen(1200) {
            width: 200px;
            margin-bottom: 0;
        }
    }

    .skills-info {
        display: flex;
        flex-direction: column;
    }

    .skills-description {
        font-size: 2.25rem;
        line-height: 1.1;
        font-family: var(--font-inter-display);
        font-weight: 500;
        margin-bottom: 4rem;
        letter-spacing: -1.5px;
        max-width: 720px;

        @include mixin.lg-screen {
            font-size: 2.8rem;
            line-height: 1;
        }

        @include mixin.custom-screen(1200) {
            font-size: 2.5rem;
        }

        .gray-text {
            color: var(--gray-text);
        }
    }

    .skills-scroller {
        width: 100%;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 22.5%, rgb(0, 0, 0) 77.5%, rgba(0, 0, 0, 0) 97%);
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 22.5%, rgb(0, 0, 0) 77.5%, rgba(0, 0, 0, 0) 97%);
        overflow-x: hidden;
        
        @include mixin.custom-screen(1200) {
            max-width: 720px;
        }

        &[data-direction="right"] {
            margin-top: -2rem;

            .scroller-inner {
                animation-direction: reverse;
            }
        }

        .scroller-inner {
            display: flex;
            width: fit-content;
            animation: scroll 30s linear infinite;

            .skill-item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .skill-icon {
                    background-color: var(--gray-bg);
                    padding: 2.2rem 2.5rem;
                    border-radius: 12px;
                    font-size: 2.2rem;
                    color: #333;
                    z-index: 2;
                    cursor: pointer;
                    transition: background-color 0.1s ease;

                    &:hover {
                        background-color: var(--gray-text-light);
                    }
                }

                .skill-tooltip {
                    margin-bottom: .5rem;
                    background-color: rgba(15, 15, 15, .8);
                    color: white;
                    padding: .5rem 0;
                    border-radius: 12px;
                    width: 130px;
                    font-size: 1.125rem;
                    text-align: center;transform: translateY(15px) scale(0);
                }
            }
        }
    }   

    //     &:hover {
    //         animation-play-state: paused;
    //     }
    // }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}