@use './mixin.scss' as mixin;

.project-details-section {
    padding: 7.5rem 1rem 4rem 1rem;
    
    @include mixin.lg-screen {
        padding: 8.5rem 24px 4rem 24px;
    }

    @include mixin.custom-screen(1200) {
        max-width: 1600px;
        margin: 0 auto;
    }

    .project-header-content {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;

        @include mixin.custom-screen(1200) {
            flex-direction: row;
            justify-content: space-between;
        }

        .header-left {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

            .back-button {
                display: flex;
                align-items: center;
                gap: 8px;
                background-color: #f5f5f5;
                padding: 8px 12px;
                border-radius: 6px;
                width: fit-content;
                text-decoration: none;
                color: #000;
                font-weight: 500;
                font-size: 1rem;
                transition: background-color 0.2s;
                font-family: var(--font-inter);
                cursor: pointer;
                border: none;

                &:hover {
                    background-color: #e0e0e0;

                    .icon-box {
                        transform: rotate(2160deg);
                    }
                }
                
                .icon-box {
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    transition: transform 0.4s ease;
                }
            }

            .project-title {
                font-size: 2.3rem;
                line-height: 1.1;
                font-family: var(--font-inter-display);
                font-weight: 500;
                letter-spacing: -1.5px;
                max-width: 560px;

                @include mixin.lg-screen {
                    font-size: 2.75rem;
                    max-width: 640px;
                }
                
                @include mixin.custom-screen(1200) {
                    font-size: 2.5rem;
                    max-width: 560px;
                }
            }
        }

        .header-right {
            display: flex;
            flex-direction: column;

            .project-description {
                font-size: 1.125rem;
                line-height: 1.5;
                color: #333;
                font-family: var(--font-inter);
                max-width: 480px;

                @include mixin.lg-screen {
                    max-width: 560px;
                }

                @include mixin.custom-screen(1200) {
                    max-width: 480px;
                }
            }

            .project-meta {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-top: 2.5rem;

                @include mixin.md-screen {
                    gap: 1.5rem;
                }

                .meta-item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .meta-label {
                        color: var(--gray-text);
                        font-size: 0.95rem;
                        font-family: var(--font-inter);
                    }

                    .meta-value {
                        color: #000;
                        font-size: 1.15rem;
                        font-weight: 500;
                        font-family: var(--font-inter);
                        letter-spacing: -.5px;
                        
                        &.link {
                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}

.project-content-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;

    @include mixin.lg-screen {
        gap: 6rem;
        padding-bottom: 6rem;
    }

    .full-width-image {
        width: 100%;
        background-color: var(--image-bg);
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 2rem;
        
        .image-wrapper {
            overflow-y: auto;
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.055);
            scrollbar-width: none;
            -ms-overflow-style: none;
            
            &::-webkit-scrollbar {
                display: none;
            }

            .project-img {
                width: 100%;
                height: auto;
                display: block;
            }

            &.small {
                display: block;
                width: 100%;
                max-width: 390px;
                height: 600px;

                @include mixin.md-screen {
                    display: none;
                }
            }

            &.medium {
                display: none;
                width: 100%;
                max-width: 800px;
                height: 600px;

                @include mixin.md-screen {
                    display: block;
                }

                @include mixin.lg-screen {
                    display: none;
                }
            }

            &.large {
                display: none;
                width: 100%;
                max-width: 1400px;
                height: 700px;

                @include mixin.lg-screen {
                    display: block;
                }
            }
        }
    }

    .text-section {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;

        @include mixin.lg-screen {
            padding: 0 24px;
        }

        @include mixin.custom-screen(810) {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 2rem;
        }

        @include mixin.custom-screen(1500) {
            padding: 0;
        }

        .text-title {
            font-size: 1.125rem;
            font-family: var(--font-inter-display);
            
            @include mixin.custom-screen(810) {
                width: 30%;
            }
        }

        .text-paragraph {
            font-size: 1.125rem; // 18px
            line-height: 1.6;
            color: var(--gray-text);
            font-family: var(--font-inter);
            
            @include mixin.custom-screen(810) {
                width: 60%;
                max-width: 700px;
            }
        }
    }

    .image-grid-section {
        padding: 0 16px;
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;

        @include mixin.lg-screen {
            padding: 0 24px;
        }

        @include mixin.custom-screen(1500) {
            padding: 0;
        }

        .image-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;

            @include mixin.md-screen {
                grid-template-columns: repeat(2, 1fr);
            }

            .grid-image-item {
                width: 100%;
                aspect-ratio: 4/3;
                background-color: #f0f0f0;
                border-radius: 12px;
                position: relative;
                overflow: hidden;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include mixin.lg-screen {
                    padding: 2rem
                }

                .image-label {
                    position: relative;
                    padding: 10px 20px;
                    border-radius: 100px;
                    font-size: 1.125rem;
                    color: #000;
                    font-family: var(--font-inter);
                    width: fit-content;
                }

                .image-wrapper {
                    position: relative;
                    width: 100%;
                    flex: 1;
                    border-radius: 8px;
                    overflow: hidden;
                    transition: transform 0.5s ease;
                    
                    .grid-img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
