@use '../../app/mixin.scss';

main {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.images, 
.carousel {
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    transition: all 1.5s ease 0.5s;
    position: relative;
    z-index: 1;
}

section {
    position: relative;
    min-width: calc(100vw - 1.5rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

section img {
    height: 80%;
    width: 100%;
    opacity: 0;
    max-height: 800px;
    max-width: 900px;
    cursor: none;
    object-fit: cover;
}


section img.enter {
    transform: scale(1);
    // transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s;
    transition: transform .4s ease-out 2s;
}
section img.leave {
    transform: scale(.9);
    transition: transform .4s ease;
}

section div {
    position: absolute;
    top: 57%;
    pointer-events: none;
    overflow: hidden;
}

section div h1 {
    font-size: 22vw;
    font-family: "Charm", cursive;
    font-weight: 800;
    font-style: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    letter-spacing: 15px;
    color: #6d7aff;
    background-image: linear-gradient(to right, #6d7aff, #3741ad);
    background-clip: text;
    color: transparent;

    @include mixin.lg-screen {
        font-size: 205px;
    }
}

section div h1.enter {
    animation-name: enter;
    animation-duration: 2s;
}
section div h1.leave {
    animation-name: leave;
    animation-duration: 2s;
    animation-delay: .2s;
}

img.complete {
    transform: scale(1);
}

main .go-to {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    padding-bottom: .1rem;
    border-bottom: 1px solid white;
    letter-spacing: 1;
    z-index: 2;

    span {
        color: white;
        text-decoration: none;
    }

    @include mixin.custom-screen(1000) {
        display: none;
    }
}

.arrows {
    position: absolute;
    bottom: 5px;
    z-index: 4;
    border: 1px solid rgba(255, 255, 255, 0.575);
    border-radius: 100vh;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.arrow-right {
        right: 2%;
        transform: rotate(45deg);
    }

    &.arrow-left {
        left: 2%;
        transform: rotate(-135deg);
    }

    @include mixin.lg-screen {
        top: 50%;

        &.arrow-right {
            right: 5%;
            transform: translate(-50%) rotate(45deg);
        }
        
        &.arrow-left {
            left: 5%;
            transform: translate(-50%) rotate(-135deg);
        }
    }

    @include mixin.custom-screen(1300) {
        &.arrow-right {
            right: 10%;
        }

        &.arrow-left {
            left: 10%;
        }
    }

    @include mixin.custom-screen(1500) {
        &.arrow-right {
            right: 15%;
        }

        &.arrow-left {
            left: 15%;
        }
    }
}

@keyframes leave {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(110%) scale(.8);
    }
    40% {
        transform: translateY(110%) scale(.8);
    }
    80% {
        transform: translateY(110%) scale(.8);
    }
    90% {
        transform: translateY(110%) scale(.8);
    }
    95% {
        transform: translateY(110%) scale(.8);
    }
    100% {
        transform: translateY(-110%) scale(.8);
    }
}

@keyframes enter {
    0% {
        transform: translateY(-110%) scale(.8);
    }
    20% {
        transform: translateY(-110%) scale(.8);
    }
    40% {
        transform: translateY(-110%) scale(.8);
    }
    50% {
        transform: translateY(-110%) scale(.8);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}

section div h1 {
    @include mixin.custom-screen(2100) {
        font-size: 450px;
    }
}
