@use '../../app/mixin.scss';

main {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.images, 
.carousel {
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    transition: all 1.5s ease 0.5s;
    position: relative;
    z-index: 1;
}

section {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

section img {
    height: 80%;
    opacity: 1;
    max-width: 900px;
    cursor: none;

    @include mixin.custom-screen(671) {
        opacity: 0;
    }
}


section img.enter {
    transform: scale(1);
    transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s;
}
section img.leave {
    transform: scale(.9);
    transition: transform .4s ease;
}

section div {
    position: absolute;
    top: 47%;
    overflow: hidden;
    pointer-events: none;
}

section div h1 {
    font-size: 340px;
    font-weight: 900;
    line-height: .75;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    letter-spacing: 15px;
}

section div h1.enter {
    animation-name: enter;
    animation-duration: 2s;
}
section div h1.leave {
    animation-name: leave;
    animation-duration: 2s;
    animation-delay: .2s;
}

img.complete {
    transform: scale(1);
}

.arrows {
    position: absolute;
    top: 40%;
    left: 80%;
    cursor: pointer;
    z-index: 4;

    &.arrow-right {
        left: 85%;
    }
}

@keyframes leave {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(110%) scale(.8);
    }
    40% {
        transform: translateY(110%) scale(.8);
    }
    80% {
        transform: translateY(110%) scale(.8);
    }
    90% {
        transform: translateY(110%) scale(.8);
    }
    95% {
        transform: translateY(110%) scale(.8);
    }
    100% {
        transform: translateY(-110%) scale(.8);
    }
}

@keyframes enter {
    0% {
        transform: translateY(-110%) scale(.8);
    }
    20% {
        transform: translateY(-110%) scale(.8);
    }
    40% {
        transform: translateY(-110%) scale(.8);
    }
    50% {
        transform: translateY(-110%) scale(.8);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}

section div h1 {
    @include mixin.custom-screen(2100) {
        font-size: 450px;
    }
}
