@use './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

ul, li {
    list-style: none;
}

.loading-text {
    font-size: 100px;
    color: #EEEEEE;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    letter-spacing: 5;

    @include mixin.md-screen {
        font-size: 170px;
    }
}